:host {
  display: flex;
  width: 100%;
  max-width: 320px;
  padding: 20px;
  background-color: #eeeeee;
}

.todo-form {
  &__field {
    padding: 10px 0;
  }

  &__label,
  &__description {
    width: 200px;
    display: inline-flex;
  }
}
