:host {
  display: flex;
  flex-basis: 320px;
  flex-grow: 50;
  flex-direction: column;
  padding: 0 20px;
}

.item-list {
  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  &__pagination {
    display: flex;
    justify-content: center;
  }
}
