:host {
  display: flex;
  flex-direction: column;
  flex-basis: 200px;
  flex-grow: 1;
  padding: 20px;
  background-color: #eeeeee;
}

.side-bar {
  &__form-label,
  &__form-select,
  &__form-input {
    width: 100%;
  }
}
