:host {
  display: flex;
  flex-direction: column;
  padding: 10px;

  @media only screen and (max-width: 767px) {
    width: 100%;
  }

  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    width: 50%;
  }

  @media only screen and (min-width: 1025px) and (max-width: 1200px) {
    width: 33.3333333%;
  }

  @media only screen and (min-width: 1201px) {
    width: 25%;
  }
}

.todo-item {
  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 200px;
    margin-right: 4px;
  }

  &__remove-button {
    cursor: pointer;
  }

  &__description {
    height: 240px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
